footer {
  padding: 0 24px 0 24px;
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 750px) {
    padding-left: 0px;
    padding-right: 9px;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 100%;
  }
  @media only screen and (min-width: 1050px) {
    flex-direction: row;
    padding-left: 12px;
  }
  .logo-right-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;
    @media only screen and (min-width: 750px) {
      max-width: 366px;
    }
    @media only screen and (min-width: 1050px) {
      flex-direction: row;
      max-width: 650px;
    }
    .logo-footer {
      margin-bottom: 32px;
      @media only screen and (min-width: 1050px) {
        margin-bottom: 47px;
        margin-right: 138px;
      }
    }
  }
  .container-icons {
    align-self: flex-start;
    display: flex;
    gap: 20px;
    @media only screen and (min-width: 750px) {
      align-self: center;
      margin-bottom: 25px;
    }
    @media only screen and (min-width: 1050px) {
      margin-bottom: 55px;
    }
    .icons {
      width: 20px;
      height: 20px;
    }
  }
}
