header {
  padding: 0 24px 0 24px;
  margin-bottom: 186px;
  @media only screen and (min-width: 750px) {
    padding-right: 190px;
    padding-left: 0px;
    margin-bottom: 240px;
  }
  @media only screen and (min-width: 1050px) {
    padding-right: 270px;
    padding-left: 12px;
    margin-bottom: 320px;
  }
  .design {
    display: none;
    @media only screen and (min-width: 750px) {
      display: block;
      position: absolute;
      width: 267px;
      height: 400px;
      top: -30px;
      right: -30px;
    }
    @media only screen and (min-width: 1050px) {
      width: 312px;
      height: 468px;
      top: -40px;
      right: -110px;
    }
  }
}
.logo {
  width: 146px;
  height: 32px;
  margin-bottom: 64px;
  @media only screen and (min-width: 750px) {
    margin-bottom: 95px;
  }
  @media only screen and (min-width: 1050px) {
    margin-bottom: 127px;
  }
}
