main {
  width: 375px;
  height: 600px;
  background: #191826;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  margin-bottom: 390px;
  @media only screen and (min-width: 750px) {
    margin-bottom: 183px;
  }
  @media only screen and (min-width: 1000px) {
    margin-bottom: 202px;
  }
  .premium-card {
    padding: 48px 37px 0px 37px;
    position: absolute;
    left: 50%;
    width: 100%;
    height: 546px;
    background: #fa7453;
    border-radius: 12px;
    bottom: -602px;
    transform: translate(-50%, -50%);
    @media only screen and (min-width: 750px) {
      max-width: 399px;
      left: 272px;
      top: 920px;
      max-height: 546px;
    }
    @media only screen and (min-width: 1000px) {
      max-width: 446px;
      max-height: 625px;
      left: 734px;
      top: 950px;
    }
  }
  .icon-app {
    width: 208.97px;
    height: 430px;
    position: absolute;
    left: 50%;
    top: 115px;
    transform: translate(-50%, -50%);
    @media only screen and (min-width: 750px) {
      width: 270.21px;
      height: 556px;
      left: 97px;
      top: 632px;
    }
    @media only screen and (min-width: 1000px) {
      width: 280px;
      height: 606px;
      left: 283px;
      top: 666px;
    }
  }
  .pattern-2 {
    left: 50%;
    transform: translate(-50%);
    top: 0;
    z-index: -1;
    width: 280px;
    position: absolute;
    height: 420px;
  }
}
